body {
  background: url("restaurant.png");
  font-family: 'Source Sans Pro', sans-serif;
}

.Discount {
  color:red;
}

.On-sale {
  color:green;
}

.thumbnail {
  height:18em;
  width:15em;
}

.thumbnail-show{
  height:40em;
  width:30em;
}